/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.tup/
/tupinfo
/spec/failing_specs.txt
/test/failing_tests.txt
/test/succeeding_tests.txt
/test/test_hypertdd.rb
*.rb.txt
Tupfile
.bundle
spec/succeeding_specs.txt
spec/failing_specs.txt
